<div class="jumbotron"> <!--<h1>'Allo, 'Allo!</h1>--> <p class="lead"> <img src="images/logo.de3b80ee.png" alt="I'm Yeoman"><br> </p><p></p> -Neyðarþjónustan Lásasmiðir - Opnum allt! </div> <h4> Árgerð</h4> <select name="car-years" id="car-years" class="form-control"></select> <h4>Framleiðandi</h4> <select name="car-makes" id="car-makes" class="form-control"></select> <h4>Gerð</h4> <select name="car-models" id="car-models" class="form-control"></select> <h4>Undirgerð</h4> <select name="car-model-trims" id="car-model-trims" class="form-control"></select> <p>--------------------------------</p> <input id="cq-show-data" type="button" value="Syna upplysingar" class="btn btn-primary"> <div id="car-model-data"></div> <!--   <div>
            <table>
                <tr>
                    <td valign="top"><div id="make-list" /></td>
                    <td valign="top"><div id="model-list" /></td>
                    <td valign="top"><div id="trim-list" /></td>
                </tr>
                <tr>
                    <td colspan="3"><div id="trim-data-list" /></td>
                </tr>
            </table>
        </div>-->